.tasks.index {
  .about {
    background: #666;
    margin-bottom: 2em;
    margin-top: -20px;
    padding-bottom: 2em;
    padding-top: 2em;

    .step {
      @include grid-column(4);
      text-align: center;
    }

    .image {
      height: 183px;
      margin-bottom: 2em;
    }

    span {
      color: #fbcc48;
      display: block;
      font-size: 1.2em;
      padding: 0 1em;
    }
  }

  .task {
    @include grid-column(3);
    margin-bottom: 1em;
  }

  .empty,
  .load-more-available-tasks {
    @include grid-column(12);

    .button {
      font-size: .9em;
      text-transform: uppercase;
      width: 100%;
    }
  }

  #available-tasks {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
