p #{@user.name}

p O prazo de entrega da seguinte tarefa expirou: #{link_to @task.title, task_url(@task)}.

p Caso você não tenha certeza se essa tarefa pode ser entregue depois do prazo, responda a esse email, enão deixe de me contatar por telefone: #{@task_owner.phone}.

p A participação voluntária é fundamental para construirmos juntos uma cidade melhor. Com um pouco do seu tempo e do seu talento, você faz a diferença!

p Grande abraço e até breve!

p #{@task_owner.name}
