p #{@task_owner_name}

p Acabo de assumir a realização desta tarefa: #{link_to @task_title, @task_url}, da mobilização #{@mobilization_short_title}.

p Estou ciente de que a data e horário final para a entrega dessa tarefa é #{@task_deadline}. Caso eu tenha qualquer dúvida sobre ela, vou te contatar por email ou pelo seu telefone: #{@task_owner_phone}.

p Grande abraço e até breve!

p #{@user_name}
