p Olá #{@task_owner.name}

p Acabo de entregar uma tarefa para a validação. É esta: #{link_to @delivery.task.title, task_url(@delivery.task)}, da mobilização #{@delivery.task.mobilization.short_title}.

p Peço que você avalie o resultado dessa tarefa. Se ela estiver de acordo com as expectativas, por favor clique no botão de validar tarefa. Do contrário, se houver necessidade de refação, por favor aperte em Recursar Tarefa e responda essa mensagem com informações sobre o que preciso refazer.

p Abraços!

p #{@delivery.user.name}
