p Não há ninguém no Multitude com o tempo e com o talento para realizar a tarefa que você criou. Acho que tá na hora de você melhorar o seu trabalho de levar mais pessoas, com talentos diversos, para dentro do Multitude.

p Vista-se com plaquinhas dessa tarefa e vá pra rua, grite no Facebook, anuncie no jornal... #ficaadica
