p #{@user_name}

p Obrigado por assumir a realização desta tarefa: #{link_to @task_title, @task_url}, da mobilização #{@mobilization_short_title}.

p A data e horário final para a entrega dessa tarefa é #{@task_deadline}. Caso tenha qualquer dúvida sobre a sua realização, por favor não deixe de me contatar respondendo a esse email ou me ligando no #{@task_owner_phone}. E, para entregá-la pronta, #{link_to "clique aqui", @task_url}.

p A participação voluntária é fundamental para construirmos juntos uma cidade melhor. Com um pouco do seu tempo e do seu talento, você faz a diferença!

p Grande abraço e até breve!

p #{@task_owner_name} e toda a equipe da Rede Meu Rio
