p Olá #{@user_name},

p Acabei de ver a sua entrega da tarefa #{link_to @task_title, @task_url}. Gostei muito e quero te parabenizar por ter dedicado seu tempo e talento pela mobilização #{@mobilization_short_title}. Com essa validação, seu tempo e talento dedicados já foram inseridos em seu perfil da Rede Meu Rio. Depois vai lá conferir (;

p E antes de me despedir, uma dica: compartilhe com seus amigos a notícia de sua participação nessa mobilização #{link_to "clicando aqui", "http://www.facebook.com/sharer/sharer.php?u=#{@task_url}"}.

p Um grande abraço e até a próxima tarefa!

p #{@task_owner_name} e toda a equipe da Rede Meu Rio
