p Olá #{@user_name},

p Sua participação acaba de ser reconhecida na tarefa #{link_to @task_title, @task_url}.

p É muito bom ver que existem membros como você, dispostos a dedicar seu tempo e talento para transformar a cidade.

p #{link_to("Seu perfil na Rede Nossas Cidades", @user_link)} já foi atualizado. Pode ir lá conferir :)

p E antes de me despedir, uma dica: compartilhe com seus amigos a notícia de sua participação nessa mobilização #{link_to "clicando aqui", "http://www.facebook.com/sharer/sharer.php?u=#{@task_url}"}.

p Um grande abraço e até a próxima!

p #{@task_owner_name}
