$row-width: 980px

.meurio_header
  margin-bottom: 2em
  .meurio_logo, .user_menu
    +grid-column(6)
  .meurio_apps
    +grid-column(3)
  .application_menu
    +grid-column(9)

body
  background: #f5f5f5

.row
  +grid-row
